<!DOCTYPE html>
<html>
  <head>
    <title>UniqueStays</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="color-block">
      <div class="home-img">
        <div class="home-cover"></div>
      </div>
      <div class="about-home">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum
        turpis vel eros vehicula, at.
      </div>
      <a href="/hotels" class="find-hotel-btn"
        ><button class="btn button-color">Find a Hotel</button></a
      >
    </div>
  </body>
</html>
