<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light nav-color">
      <ul class="nav justify-content-center">
        <li class="nav-box">
          <div class="">
            <a class="nav-link active" href="/">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="">
            <a class="nav-link" href="/hotels">Hotels</a>
          </div>
        </li>
        <li class="">
          <div class="nav-box">
            <a class="nav-link" href="/reservations">My Bookings</a>
          </div>
        </li>
      </ul>
    </nav>
    <h1>This is the reservations page</h1>

    <form action="/reservations/<%=hotelId%>" method="POST">
      <div class="form-outline datepicker" style="width: 300px">
        <input
          type="datetime-local"
          class="form-control"
          id="exampleDatepicker2"
          name="checkIn"
          value="<%=checkInDate%>"
        />
        <label class="form-label">Check In</label>
      </div>

      <div class="form-outline datepicker" style="width: 300px; margin: 10px">
        <input
          type="datetime-local"
          class="form-control"
          id="exampleDatepicker2"
          name="checkOut"
          value="<%=checkOutDate%>"
          min="<%=checkInDate%>"
        />
        <label class="form-label">Check Out</label>
      </div>

      <label>Number of Rooms</label>
      <select name="numberOfRooms">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option></select
      ><br />

      <label>Number of Guests</label>
      <select name="numberOfGuests">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option></select
      ><br />

      <h3>Room Type</h3>

      <label>Select Room Type</label>
      <select name="roomType">
        <option value="StandardRoom">Standard Room</option>
        <option value="DeluxeRoom">Deluxe Room</option>
        <option value="LuxurySuite">Luxury Suite</option></select
      ><br />

      <input
        type="submit"
        class="btn btn-info center-button"
        value="Book Reservation"
      />
    </form>

    <%if(hotels.name == 'Arctic Resort'){ %>
    <div class="room-img-container">
      <div>
        <img src="/images/cold-bed3.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/cold-bed2.jpg" class="room-img" />
      </div>
      <div></div>
      <img src="/images/cold-bed.jpg" class="room-img" />
    </div>
    <% } else if(hotels.name == 'Tsara Komba'){ %>
    <div class="room-img-container">
      <div>
        <img src="/images/beach3.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/beach2.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/beach1.jpg" class="room-img" />
      </div>
    </div>
    <% } else if(hotels.name == 'Hobbiton'){ %>
    <div class="room-img-container">
      <div>
        <img src="/images/hobbit3.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/hobbit2.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/hobbit1.jpg" class="room-img" />
      </div>
    </div>
    <% } else if(hotels.name == 'Ice Hotel'){ %>
    <div class="room-img-container">
      <div>
        <img src="/images/ice1.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/ice2.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/ice.jpg" class="room-img" />
      </div>
    </div>
    <% } else if(hotels.name == 'The Muraka'){ %>
    <div class="room-img-container">
      <div>
        <img src="/images/water1.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/water2.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/water3.jpg" class="room-img" />
      </div>
    </div>
    <% } else if(hotels.name == 'Keemala Resort'){ %>
    <div class="room-img-container">
      <div>
        <img src="/images/tree3.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/tree1.jpg" class="room-img" />
      </div>
      <div>
        <img src="/images/tree2.jpg" class="room-img" />
      </div>
    </div>
    <% } %>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
    ></script>
  </body>
</html>
